/*Articulo 3*/
.title-3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

#article-3 {
    background-color: #FFDD00 !important;
}

#article-3 .card {
    min-height: 350px;
}

#article-3 .card-body {
    padding: 0.5rem 1rem !important;
    
}

/*Articulo 3*/