/* Estilos universales*/
body {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif !important;
}
/* Estilos universales*/


header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Header button*/
header-button #col1 {
    background-color: #4F2CF8;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

@media (min-width: 1024px) {
    header-button #col1 {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

header-button .logo {
    display: flex;
    align-items: center;
}

header-button .logo img {
    width: 10vh;
}

header-button #group-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

header-button #group-links a {
    color: #fff;
    text-decoration: none;
}

header-button #group-links a span {
    font-size: 0.8rem;
    font-weight: 600;
}

header-button #group-links a:hover>i,
header-button #group-links a:hover>div i,
header-button #group-links a:hover>span {
    color: #FFDD00;
    transition: color 0.3s ease-in;
}

header-button #group-links span {
    display: block;
}

header-button #group-links i {
    font-size: 1.5rem;
}
/*Icono del carrito*/
.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -1px;
    right: -8px;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: gold;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}
/*Icono del carrito*/
/* Header button*/


/* Nav principal*/
#nav-principal {
    display: flex;
    justify-content: center;
    margin: 4px 0;
}

#nav-principal a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    padding: 4px 8px;
    text-transform: uppercase;
}

#nav-principal a:hover {
    background-color: #4F2CF8;
    color: #fff;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0s ease-in-out;
}

#nav-principal span {
    width: 0.5px;
    margin: 0.2rem;
    padding: 0rem;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
/* Nav principal*/

/* Product */

.div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 240px !important;
    padding-bottom: 25%;

}

.div-img img {
    max-width: 100%;
    height: auto;
}

.product-name {
    display: block;
    font-size: 13px;
    min-height: 40px !important;
}

.product-price {
    font-size: 18px;
    font-weight: 500;
}

.product-button-add {
    font-size: 10px !important;
    text-transform: uppercase;
    font-weight: 700 !important;
}

/* Footer */
.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.footer h5 {
    font-size: 18px;
    font-weight: bold;
}

.footer p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.footer a {
    color: #333;
    text-decoration: none;
}

.footer ul.list-unstyled li {
    margin-bottom: 10px;
}

.footer ul.list-inline li {
    margin-right: 10px;
}

.footer p.copyright {
    margin-top: 20px;
    font-size: 12px;
}
/* Footer */