body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    min-height: 100vh;
}

.aside {
    height: 100%;
    width: 300px;
    background-color: #8c1aff;
    color: #fff;
    position: fixed;
    padding: 10px;
    transition: width 0.2s ease;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #6300cc;
}

.head img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.head i {
    font-size: 30px;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
}

#div-nombre {
    font-size: 14px;
    font-weight: bold;
}

#div-rol {
    font-size: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.options a {
    display: inline-flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

#a-logout {
    margin-top: 100px;
}

.options a:hover {
    background-color: rgba(255,255,255,0.2);
    transition: background-color 0.2s ease-in-out;
}

.options i {
    font-size: 25px;
    margin-right: 10px;
}

.aside.active {
    width: 80px;
    transition: all 0.2s ease;
}

.aside.active .option,
.aside.active .profile{
    display: none;
}

.aside.active .head {
    height: 50px;
    margin-top: 60px;
    margin-bottom: 115px;
}

.aside.active .head i {
    margin: auto;
}

.aside.active .options i {
    margin: auto;
}

.div-panel {
    margin-left: 300px;
    transition: margin-left 0.2s ease;
}

.div-panel.decompressed {
    margin-left: 80px;
}

/* Estilos cuando el ancho de la pantalla es menor o igual a 1024px */
@media screen and (max-width: 1024px) {
    .aside {
        width: 80px;
        transition: all 0.2s ease;
    }

    .aside .option,
    .aside .profile{
        display: none;
    }

    .aside .head i {
        margin: auto;
    }

    .aside .options i {
        margin: auto;
    }

    .div-panel {
        margin-left: 80px;
    }
}
