body {
    margin: 0;
    font-family: system-ui;
    min-height: 100vh;
}

header {
    background-color: #efe;
    padding: 2rem;
    text-align: center;
}

#nav1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ul1 a {
    text-decoration: none;
}

#ul1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#ul1 li {
    padding: 1rem;
}

.table {
    text-align: center;
}

.table td {
    vertical-align: middle;
}

#div-imagen {
    display: flex;
    justify-content: center;
    text-align: center;
}
